@*
General setup for all GenForm sites:
- Home: The Acceptation/Production version
- Debug: The Acceptation/Production version with Loader enabled for ExtJs
- Tests: Runs individual tests
- AppTest: Runs app specific use case scenario's
*@

<!DOCTYPE html>
@* 
    Add style element for the EditableComboBox class
    TODO: generate special genform.css
*@
<style>
 .x-form-add-trigger {
   background-image: url(./Client/Library/ext/ext-4.0.7-gpl/resources/themes/images/default/form/search-trigger.gif) !important;
 }
</style>

<html>

<head>
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Client/Library/ext/ext-4.0.7-gpl/resources/css/ext-all-gray.css")" />

    @RenderSection("CSS", false)

    <script type="text/javascript">
        Ext = {};
        Ext.app = {};
    </script>    
    
    <script type="text/javascript" src="@Url.Content("~/Direct/Api")"></script>
    
    <script type="text/javascript">
       Ext.app.REMOTING_API.enableBuffer = 100;
    </script>    

    <script type="text/javascript" src="@Url.Content("~/Client/GenForm/app/AppConfig.js")"></script>
    
    @RenderSection("Javascript", false)

</head>
<body>
    @RenderBody()
</body>
</html>
